@inherits LayoutComponentBase
@using Tekhnologia.Views.Shared

<div class="container mt-5">
    <NavMenu />
    <section class="section">
        <div class="container">
            @Body
        </div>
    </section>
</div>