<nav class="navbar is-primary">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Tekhnologia</a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/journal">Journal</a>
            <a class="navbar-item" href="/vision-board">Vision Board</a>
            <a class="navbar-item" href="/career-goals">Career Goals</a>
            <a class="navbar-item" href="/ai-coach">AI Coach</a>
        </div>
    </div>
</nav>
